/* Google Fonts @import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');

*{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
}

/* Header Section */
#header{
     display: flex;
     color: white;
     background-color: #161616;
     margin: 50px 200px;
     border-radius: 30px;
}
.header-text{
     margin: 110px 25px 100px 100px;
}
.header-text h1{
     font-family: 'Poppins', sans-serif;
     font-size: 60px;
     max-width: 480px;
     line-height: 70px;
     margin-bottom: 20px;
}
.header-text p{
     font-size: 17px;
     max-width: 480px;
     margin-bottom: 30px;
}
.button{
     text-decoration: none;
     color: white;
     background-color: #f07167;
     padding: 13px 23px;
     border-radius: 10px;
     font-size: 24px;
}
.header-img{
     margin-top: 30px;
}
.header-img img{
     width: 480px;
     height: 570px;
}

/* Blog Section */
#blogs{
     margin: 130px 110px 100px 110px ;
}
.blogs-container{
     display: flex;
     gap: 20px;
}
.player-container{
     display: grid;
     grid-template-columns: repeat(3, 0fr);
     gap: 20px;
}
.child{
     text-decoration: none;
     display: flex;
     width: 250px;
     height: 500px;
     height: 65px;
     align-items: center;
     justify-content: center;
     margin-bottom: 30px;
     border-radius: 10px;
     font-size: 20px;
}
.first-child{
     background-color: white;
     color: black;
}
.middle-child{
     background-color: white;
     color: black;
}
.last-btn{
     background-color: #f07167;
     color: white;
     margin-bottom: 0;
}
.sidebar-btn{ 
     background-color: #161616;
     height: 260px;
     width: 250px;
     padding: 30px;
     border-radius: 10px;
}


.blog-transfer{
     border: 1px solid #ddd;
     width: 311px;
     border-radius: 10px;
}
.blog-text{
     margin: 0 20px;
}
.blog-text h4{
     padding: 4px 16px;
     display: inline-block;
     border: 1px solid #161616;
     border-radius: 10px;
     margin: 20px 0 15px 0;
}
.blog-text p{
     font-size: 18px;
     font-weight: 600;
}
.blog-footer{
     display: flex;
     column-gap: 30px;
     margin-top: 20px;
     margin-bottom: 20px;
}
.blog-time{
     display: flex;
     color: #161616B2;
}
.blog-comment{
     display: flex;
     color: #161616B2;
}

/* View Button */
#view-btn{
     text-align: center;
     margin-bottom: 70px;
     display: none;
}

/* Footer Section */
#footer{
     text-align: center;
     background-color: #161616;
     color: #B9B9B9;
}
.footer-heading{
     padding: 50px 0 30px 0;
     color: white;
     font-size: 40px;
     font-weight: 600;
     text-align: center;
}
.footer-heading span{
     color: #f07167;
}

.footer-heading hr{
     margin: 30px 150px;
     border: 0.5px solid #ffffff1a;
}
.footer-text{
     display: flex;
     justify-content: center;
     gap: 50px;
     padding-bottom: 50px;
}
.social-links .fa-brands{
     padding: 5px;
     font-size: 25px;
     padding: 0 10px 30px 10px;
}
.social-links .fa-facebook{
     color: #4267B2;
}
.social-links .fa-whatsapp{
     color: rgb(10, 190, 10);
}
.social-links .fa-twitter{
     color: #00acee;
}

/*   Responsive */
/* Tablet Screen */
@media only screen and (max-width:992px){
     /* Section - Header */
     #header{
          margin: 50px;
     }
     .header-text{
          margin: 0;
          margin: 61px 29px 61px 76px;

     }
     .header-text h1{
          font-size: 40px;
          font-weight: 700;
          max-width: 290px;
          line-height: 55px;
          margin-bottom: 10px;
          
     }
     .header-text p{
          font-size: 17px;
          max-width: 430px;
          margin-bottom: 30px;
     }

     .header-img img{
          width: 323px;
          height: 380px;
     }

     /* Section Blogs */
     /* #blogs{
          margin: 0;
     }
     .blogs-container{
          display: grid;
          grid-template-columns: ;
     }
     .blogs-container-two{
          margin-left: 0;
          display: grid;
          grid-template-columns: repeat(2, 0fr);
     }
      */


















     #footer{
          display: none;
     }
}